meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="keywords", content=`${keywords}`)
meta(name="description", content=`${description}`)
title= title

!= css('lib/bootstrap/css/bootstrap')
!= css('lib/fontawesome/css/font-awesome')
!= css('css/default/style')

<!--[if IE]>
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
<![endif]-->

!= js('lib/jquery/js/jquery-2.1.1.min')
!= js('lib/bootstrap/js/bootstrap.min')