if process.env.USE_COMPILED_CSS === 'true' || process.env.NODE_ENV !== 'development'
	link(rel="stylesheet" type="text/css" href=manifest['vendor.css'])
	link(rel="stylesheet" type="text/css" href=manifest['app.css'])
