nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
	.container-fluid
		a.navbar-brand(href="/") Nodestalking
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right.navbar-form
				li
					button.btn.btn-danger#test_btn Test