include ./partials/_doctype

head
    include ./partials/_meta
    title Beanmaster

    include ./partials/_styles

body
    #app_main
    script(src=locals.manifest['manifest.js'] type="text/javascript")
    script(src=locals.manifest['vendor.js'] type="text/javascript")
    script(src=locals.manifest['app.js'] type="text/javascript")